.App {
  font-family: Arial, sans-serif;
  max-width: 800px;
  margin: 0 auto;
  padding: 20px;
  background-color: #f9f9f9;
  border-radius: 8px;
  box-shadow: 0 2px 8px rgba(0, 0, 0, 0.1);
}

h1 {
  text-align: center;
  color: #333;
}

form {
  display: flex;
  flex-direction: column;
}


.email-container,
.file-container {
  margin-bottom: 20px;
}

textarea {
  width: 100%;
  padding: 10px;
  border-radius: 4px;
  border: 1px solid #ccc;
  font-size: 16px;
  resize: none;
}

.email-count {
  margin-left: 10px;
  color: #666;
  font-size: 14px;
}

input[type="file"] {
  display: block;
  margin-top: 10px;
}

button {
  padding: 12px 20px;
  background-color: #ff5e14;
  color: white;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  font-size: 16px;
}

button:hover {
  background-color: #e85510;
}

label {
  font-weight: bold;
  margin-bottom: 5px;
  display: inline-block;
}

.results {
  margin-top: 30px;
  display: flex;
  justify-content: space-between;
}

.success-emails,
.failed-emails {
  flex: 1;
  margin-right: 20px;
}

ul {
  list-style-type: none;
  padding: 0;
}

.success-emails h2 {
  color: green;
}

.failed-emails h2 {
  color: red;
}

li {
  background-color: #f0f0f0;
  margin-bottom: 5px;
  padding: 5px;
  border-radius: 4px;
}

li:nth-child(even) {
  background-color: #e6e6e6;
}

.successfully_send {
  max-height: 300px;
  overflow-y: scroll;
}

.submit-button.disabled {
  background-color: #ccc;
  color: #666;
  cursor: not-allowed;
}
.password-container{
  display: flex;
  flex-direction: column;
  margin: 10px 0;
}.password-container input{
  width: 200px;
  height: 30px;
  border: 1px solid #ccc;
  border-radius: 5px;
  outline: none;
  padding: 0 10px;
}
.logo{
  display: flex;
  justify-content: center;
  align-items: center;
}.logo img{
  width: 100px;
  height: 100px;
}
@media (max-width: 768px) {
  textarea {
    width: 95%;
  }
}

@media(max-width: 690px) {
  .results {
    display: block;
  }
}